<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="好骑网自行车" />
    <meta name="description" content="好骑网自行车" />
    <meta name="author" content="PM : Jon | Email:328117005@qq.com">
    <meta name="robots" content="index,follow">
    <title>公司名称</title>
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/normalize.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/iconfont.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/animate.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/skins/square/blue.css">
    <link rel="stylesheet" href="http://ov5eewsja.bkt.clouddn.com/css/lightman.css">
    <style>
        .row{
            margin: 0;
        }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://ov5eewsja.bkt.clouddn.com/js/html5shiv.min.js"></script>
      <script src="http://ov5eewsja.bkt.clouddn.com/js/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#prMenuBox" style="position: relative;">
    <!--顶部-->
    <div class="index-box navbar-fixed-top" id="topMainMenu">
        <div class="container index-topmenu-bg">
            <div class="row">
                <div class="col-md-3 col-xs-6 index-logo">
                    <a href="index.html">
                        <img src="http://ov5eewsja.bkt.clouddn.com/images/logo.png" class="img-responsive" />
                    </a>                    
                </div>
                <div class="col-md-5 index-menu-list hidden-sm hidden-xs">
                    <div class="navList" v-for="item in menuList">
                        <a v-bind:href="item.surl"  v-on:mouseenter="showMenu(item.mid);" v-if="item.canPCShow">
                            {{item.mtext}}                        
                        </a>
                        <transition
                            name="MC03-transition"
                            enter-active-class="animated fadeIn"
                            leave-active-class="animated fadeOut"
                        >
                        <div class="index-menu-sublist" v-if="item.canSee" v-on:mouseleave="item.canSee = false">                            
                            <ul>
                                <li v-for="sub in item.subList"><a v-bind:href="sub.subUrl">{{sub.subTitle}}</a></li>
                            </ul>                            
                        </div>
                        </transition>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="col-xs-10 col-md-6 search-box" id="topSearch">
                        <a href="javascript:void(0);" v-on:click="showSearchBox = !showSearchBox" class="iconfont search-box">&#xe612;</a>
                        <transition
                            name="MC01-transition"
                            enter-active-class="animated bounceInRight"
                            leave-active-class="animated bounceOutRight"
                        >
                        <div class="search-input-box" id="searchbox" v-if="showSearchBox">
                            <form action="#" method="get">
                                <input type="text" placeholder="请输入关键词" id="searchkey">
                            </form>
                        </div>
                        </transition>
                    </div>
                    <div class="col-xs-4 col-md-4 index-jd-box hidden-sm hidden-xs">
                        <a href="#">
                            京东商城
                            <img src="http://ov5eewsja.bkt.clouddn.com/images/buycarIco.png" />
                        </a>                        
                    </div>
                    <div class="col-xs-2 hidden-lg hidden-md mobile-topmenu-box">
                        <a href="javascript:void(0);" class="iconfont mobile-topmenu-ico" id="mobileMenu" v-on:click="mobileMenu.changMenuIco();" v-html="mobileMenuIco"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--菜单栏-->
    <div id="subMenu1">
        <transition
            name="MC02-transition"
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
        >
        <div class="index-menu-box navbar-fixed-top" v-if="isShow" v-on:mouseleave="isShow=false">
            <div class="container" style="padding-top:20px;">
                <div class="col-md-9 menuList">
                    <!--绑定菜单数据-->
                    <dl v-for="item in sunmenu">
                        <dt>{{item.mtitle}}</dt>
                        <dd v-for="dd in item.mdd">
                            <a v-bind:href="dd.murl" v-on:mouseover="showtips(dd.mdesc,dd.mimg,dd.mtitle);">{{dd.mtitle}}</a>
                        </dd>
                    </dl>
                </div>
                <!--右侧简介及图片-->
                <div class="col-md-3 tipsBox">
                    <div class="tipsDesc">
                        <div v-text="descTitle" class="rightDescTitle"></div>
                        <div v-html="menudesc" class="rightDescText"></div>
                    </div>                
                    <div class="tipsImages">
                        <img v-bind:src="menuimg" class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-12 allproducts">
                    <div class="showallbtn">
                        <a href="products.html">全部产品</a>
                    </div>
                </div>
                
            </div>
        </div>
        </transition>
    </div>
    <div id="subMenu2">
        <transition
            name="MC03-transition"
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
        >
        <div class="index-menu-box navbar-fixed-top" v-if="isShow" v-on:mouseleave="isShow=false">
            <div class="container" style="padding-top:20px;">
                <div class="col-md-3 newP_tipsBox" v-for="np in newProList">
                    <a v-bind:href="np.npUrl" v-on:mouseover="">
                        <div class="newP_tipsDesc">
                            <div v-text="np.npTitle" class="newP_rightDescTitle"></div>
                            <div v-html="np.npDesc" class="newP_rightDescText"></div>
                        </div>                
                        <div class="newP_tipsImages">
                            <img v-bind:src="np.npImg" class="img-responsive" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </transition>
    </div>
    
    <!--产品形象大图-->
    <div class="products-showBox" id="products-showBox">
        <!--形象图-->
        <div class="pro-show-imgBox">
            <img src="http://ov5eewsja.bkt.clouddn.com/images/4-Distributor-1.jpg" class="img-responsive hidden-xs">
            <img src="http://ov5eewsja.bkt.clouddn.com/images/m-Distributor-1.jpg.png" class="img-responsive visible-xs-inline">
        </div>
        <!--文字动画框PC|直接style 到时此样式由后台程序输出控制，不固定样式-->
        <div class="aC hidden-xs hidden-sm" style="width:100%;overflow:hidden;top:20%;text-align:center;position:absolute;color:#fff;">
            <div class="wow bounceInUp" style="color: #1D8CE0;font-size: 40px;line-height: 60px;font-weight:600;" data-wow-duration="1s" data-wow-delay="0s">2017/03/05</div>
            <div class="wow bounceInUp" style="font-size: 50px;line-height: 60px;font-weight:600;" data-wow-duration="1s" data-wow-delay="0.5s">LIGHTMAN 经销商大会</div>
            <div class="pt4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.2s"><a href="aboutus.html" style="color:#fff;">了解更多</a></div>
        </div>
    </div>
    <!--产品详情页菜单-->
    <div class="pro-menu-box" id="prMenuBox">
       <div class="container">
            <div class="row">
                <div class="col-md-6 proTitle hidden-xs hidden-sm">                    
                    经销商
                </div>
                <div class="col-md-6 proMenu nav">
                    <li class="active"><a class="jxscx" href="#jxscx" name="更多">经销商查询</a></li>
                    <li><a class="jxsxz" href="#jxsxz">经销商须知</a></li>
                    <li style="margin-right: 15px;"><a href="#jxscw" class="jxscw">成为经销商</a></li>
                    <li class="index-jdp-box" style="flex-grow: 3;">
                        <a href="dealers.html">
                            <span class="hidden-xs">经销商服务</span>
                             <span class="iconfont"></span>
                        </a>  
                    </li>
                    <li class="index-lang-box hidden-xs">
                        <a href="javascript:pageScroll();" class="hidden-xs" onclick="pageScroll()">回到顶部</a>
                        <!-- <a href="#" class="hidden-sm hidden-md hidden-lg">TOP</a> -->
                    </li>
                </div>
            </div>
        </div>
    </div>


    <!--经销商查询-->
    <div class="cpmd" id="jxscx">
        <div class="container">
            <div class="row hidden-xs" style="height:50px;"></div>
            <div class="row visible-xs-block" style="height:20px;"></div>
            <div class="row">
                <div class="col-xs-9 nopd">
                    <div class="cpmd-title">LIGHTMAN 经销商查询</div>
                    <div>首页/关于我们/经销商查询</div>
                </div>
                <div class="col-xs-3 cpmd-titleIco">
                    <span class="iconfont">&#xe62b;</span>
                </div>
            </div>
            <div class="row hidden-xs" style="height:50px;"></div>
            <div class="row visible-xs-block" style="height:20px;"></div>
        </div>
    </div>
    <div class="cpmd2">
        <div class="container">
            <div class="row YzBlock">

                <div class="col-xs-12">
                    <div class="YzTitle">仿假冒产品验证系统</div>
                    <div class="YzContent">
                        为保障客户权益，以防您在网络上买到 LIGHTMAN 的假货和仿品，我们为您提供了以下的认证查询系统，用于查询已经通过我们认证的网络商家，避免您在不明商家处购买我们的产品，对您造成经济上的损失。 每一个通过我们认证的网络商家都拥有一个对应的授权编号。使用该编号可查询到商家名和其相关信息。如查询结果和您掌握的信息一致，则说明该商家已通过我们的认证，您可以放心购买该商家的LIGHTMAN 相关产品。
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="YzTitle">输入经销商名称或授权编号进行查询</div>
                    <div class="YzSearch col-sm-4 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default iconfont YzSearchBtn" type="button">&#xe612;</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" style="height:20px;"></div>
                <div class="col-xs-12 col-sm-6 YzResult">
                    <div>经销商名称：ABC有限公司</div>
                    <div>网店销售：https://abc.tmall.com/</div>
                    <div>实体店销售：福建厦门</div>
                </div>
                <div class="col-xs-12 col-sm-6 YzResult">
                   <div>经销商名称：ABC有限公司</div>
                    <div>网店销售：https://abc.tmall.com/</div>
                    <div>实体店销售：福建厦门</div>
                </div>
            </div>
        </div>
    </div>

    <!--成为经销商-->
    <div class="cpmd">
        <div class="container">
            <div class="row hidden-xs" style="height:50px;"></div>
            <div class="row visible-xs-block" style="height:20px;"></div>
            <div class="row">
                <div class="col-xs-9 nopd" >
                    <div class="cpmd-title">LIGHTMAN 成为经销商</div>
                    <div>首页/关于我们/成为经销商</div>
                </div>
                <div class="col-xs-3 cpmd-titleIco">
                    <span class="iconfont">&#xe62a;</span>
                </div>
            </div>
            <div class="row hidden-xs" style="height:50px;"></div>
            <div class="row visible-xs-block" style="height:20px;"></div>
        </div>
    </div>
    <div class="cpmd2">
        <div class="container">
            <div class="row serverBzList" id="jxsxz">
                <div class="col-xs-12 BzBigTitle">经销商须知</div>
                <!--数据绑定-->
                <div class="col-xs-12 BzList" v-for="item in bzList">
                    <div class="BzSmTitle" :class="{BzItemActive:item.sw}" @click="item.sw = !item.sw;">{{item.bzT}}</div>
                    <transition
                        name="MC03-transition"
                        enter-active-class="animated fadeInUp"
                        leave-active-class="animated fadeOut"
                    >
                    <div class="BzContent" v-if="item.sw">
                        {{item.bzC}}
                    </div>
                    </transition>
                </div>
            </div>
            <div class="row" style="margin-top:30px;margin:0;" id="jxscw">
                <div class="col-xs-12 col-sm-10 contactForm">
                    <div class="contactusTitle">成为经销商</div>
                    <form class="form-horizontal">
                        <div class="form-group col-xs-12 col-sm-6 formLable">
                            <label for="inputEmail3" class="col-xs-1 col-sm-2 control-label">姓名 <span>*</span></label>
                            <div class="col-xs-11 col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6 formLable">
                            <label for="inputPassword3" class="col-xs-1 col-sm-2 control-label">邮箱 <span>*</span></label>
                            <div class="col-xs-11 col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 formLable">
                            <label for="inputEmail3" class="col-xs-1 col-sm-2 control-label">电话 <span>*</span></label>
                            <div class="col-xs-11 col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 col-sm-6 formLable">
                            <label for="inputPassword3" class="col-xs-1 col-sm-2 control-label">其它 <span>*</span></label>
                            <div class="col-xs-11 col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="其他联系方式：(QQ/MSN）">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">名称 <span>*</span></label>
                            <div class="col-xs-11">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="您的公司名称？">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">主页 <span>*</span></label>
                            <div class="col-xs-11">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="您的公司官网或店铺主页？">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">省市 <span>*</span></label>
                            <div class="col-xs-11">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="您的公司所属省市？">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">地址 <span>*</span></label>
                            <div class="col-xs-11">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="您公司所在地址？">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">认知 <span>*</span></label>
                            <div class="col-xs-11">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="你是如何知道我们的？">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">渠道 <span>*</span></label>
                            <div class="col-xs-11 jybrandTitle">贵公司销售渠道（可多选）</div>
                            <div class="col-xs-11 col-xs-offset-1 jybrandList">
                                <input type="checkbox" name="iw" id="iw" checked>
                                <label for="iw">批发</label>
                                <input type="checkbox" name="dmxs" id="dmxs">
                                <label for="dmxs">店面销售</label>
                                <input type="checkbox" name="sc" id="sc">
                                <label for="sc">商场</label>
                                <input type="checkbox" name="wlxs" id="wlxs">
                                <label for="wlxs">网络销售</label>
                                <input type="checkbox" name="others" id="others">
                                <label for="others">其它</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">代营 <span>*</span></label>
                            <div class="col-xs-11 jybrandTitle">贵公司是否有经营其他品牌（不限于手电、充电器，没有则填无）</div>
                            <div class="col-xs-11 col-xs-offset-1 jybrandList">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="1.品牌名称与产品名称？">
                            </div>
                            <div class="col-xs-11 col-xs-offset-1 jybrandList">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="2.品牌名称与产品名称">
                            </div>
                            <div class="col-xs-11 col-xs-offset-1 jybrandList">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="3.品牌名称与产品名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">自营 <span>*</span></label>
                            <div class="col-xs-11 jybrandTitle">贵公司目前经营信息</div>
                            <div class="col-xs-11 col-sm-3 col-xs-offset-1 jyZhiYingList">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">店面数量：</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <div class="col-xs-11 col-sm-3 col-xs-offset-1 jyZhiYingList">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">营业面积：</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <div class="col-xs-11 col-sm-3 col-xs-offset-1 jyZhiYingList">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">员工人数：</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <div class="col-xs-11 col-sm-3 col-xs-offset-1 jyZhiYingList">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">年销售额：</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                            <div class="col-xs-11 col-sm-7 col-xs-offset-1 jyZhiYingList">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon3">产品名称：</span>
                                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">市场 <span>*</span></label>
                            <div class="col-xs-11 jybrandTitle">贵公司主要客户市场（可多选）</div>
                            <div class="col-xs-11 col-xs-offset-1 jybrandList">
                                <input type="checkbox" name="huwai" id="huwai" checked>
                                <label for="huwai">户外</label>
                                <input type="checkbox" name="junjing" id="junjing">
                                <label for="junjing">军警</label>
                                <input type="checkbox" name="houlie" id="houlie">
                                <label for="houlie">狩猎</label>
                                <input type="checkbox" name="jiuyuan" id="jiuyuan">
                                <label for="jiuyuan">救援</label>
                                <input type="checkbox" name="yiliao" id="yiliao">
                                <label for="yiliao">医疗</label>
                                <input type="checkbox" name="xiaofang" id="xiaofang">
                                <label for="xiaofang">消防</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-xs-1 control-label">补充 <span>*</span></label>
                            <div class="col-xs-11">
                            <textarea class="form-control" rows="5" placeholder="请输入主题与内容"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-offset-1 col-xs-11">
                            <button type="submit" class="btn btn-default sendbtn">申请授权</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--底部共用-->
    <div class="public-bottom" id="publicBottom">
        <div class="container-fluid">
            <!--搜索框-->
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 public-bottom-searchBox">
                    <form action="#" method="get">
                        <input type="text" name="bottomsearch" id="bottomsearch" placeholder="请输入关键词搜索......" />
                        <input type="submit" value="SIGN UP">
                    </form>                    
                </div>
            </div>            
        </div>
        <div class="container">
            <!--底部导航栏-->
            <div class="row public-bottom-navBox">
                <div class="col-xs-12 col-md-10 listBNav">
                    <dl v-for="dlitem in btNavList">
                        <dt><a v-bind:href="dlitem.dtUrl">{{dlitem.dtTitle}}</a></dt>
                        <dd v-for="dditem in dlitem.ddLits" v-bind:class="hideClass"><a v-bind:href="dditem.ddUrl">{{dditem.ddName}}</a></dd>
                    </dl>
                   
                </div>
                <div class="col-xs-12 col-md-2 listBNavIco">
                    <ul>
                        <li v-for="icoItem in btIcoList"><a v-bind:href="icoItem.btIcoUrl"><i class="iconfont" v-html="icoItem.btIco"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="public-bottom-copyright">
            <div class="container">
                <div class="row" style="position:relative;">
                    <div class="col-md-3 col-xs-12 public-bottom-logobox">
                        <a href="index.html">
                            <img src="http://ov5eewsja.bkt.clouddn.com/images/logo.png"  />
                        </a>   
                    </div>
                    <div class="col-md-5 col-xs-12 public-bottom-copytext">
                        Copyright © 2017 LIGHTMAN Inc. All rights reserved. 
                    </div>
                    <div class="col-md-4 col-xs-12 public-bottom-link">
                        <a href="javascript:void(0)">隐私权政策</a> | 
                        <a href="javascript:void(0)">使用条款</a> | 
                        <a href="javascript:void(0)">免责声明</a>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm hidden-md iconfont public-bottom-goIndex">
                        <a href="index.html">&#xe76d; 返回首页</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!--移动端菜单-->
    <!--移动所有产品左侧菜单-->
    <div id="mcpcenter" class="hidden-md hidden-lg">
        <transition
            name="MC05-transition"
            enter-active-class="animated fadeInRight"
            leave-active-class="animated fadeOutRight"
        >
        <div class="m-menuLeftBox" v-if="isM1Show">
            <div class="cpcenter">
                <div class="cpCenterBtn">
                    <a href="javascript:void(0);">全部产品</a>
                </div>
                <dl v-for="item in sunmenu">
                    <dt>{{item.mtitle}}</dt>
                    <dd v-for="dd in item.mdd">
                        <a v-bind:href="dd.murl">{{dd.mtitle}}</a>
                    </dd>
                </dl>
            </div>
        </div>
        </transition>
    </div>

    <!--移动最新产品左侧菜单-->
    <div id="mcNpcenter" class="hidden-md hidden-lg">
        <transition
            name="MC05-transition"
            enter-active-class="animated fadeInRight"
            leave-active-class="animated fadeOutRight"
        >
        <div class="m-menuLeftBox" v-if="isM2Show">

            <div class="newProMBox" v-for="np in newProList">
                <div class="newProMBox-img">
                    <img v-bind:src="np.npImg" class="img-responsive">
                </div>
                <div class="newProTextBox">
                    <div class="newProTextBox-Title" v-text="np.npTitle">
                        
                    </div>
                    <div class="newProTextBox-Intro" v-html="np.npDesc">
                       
                    </div>
                </div>
            </div>
            
        </div>
        </transition>
    </div>
    
    <div class="mobileMenuDiv hidden-md hidden-lg" id="mobileNavBox">
        <transition
            name="MC04-transition"
            enter-active-class="animated fadeInRight"
            leave-active-class="animated fadeOutRight"
        >
        <div class="m-public-meunbox" v-if="mobileMenuShow">            
            <!--移动端右侧菜单-->
            <div class="m-menuRightBox">
                <div class="menuRightNav">
                    <ul>
                        <!--<li v-for="item in topMneu.$data.menuList"><a v-bind:href="item.surl">{{item.mtext}}</a></li>-->
                        <li><a href="index.html">首页</a></li>
                        <li><a href="javascript:mobileMenu.showMbAllProductsSub();">产品中心</a></li>
                        <li><a href="javascript:mobileMenu.showNewProSubIntro();">新品推荐</a></li>
                        <li><a href="servers.html">服务与支持</a></li>
                        <li><a href="dealers.html">经销商</a></li>
                        <li><a href="aboutus.html">关于</a></li>
                    </ul>
                </div>
                <div class="m-menuRightShopBtn">
                    <a href="#">
                        商城
                        <span class="iconfont">&#xe615;</span>
                    </a>
                </div>
                <div class="m-menuRightLangBtn">
                    <a href="#">
                        语言
                        <span class="iconfont">&#xe613;</span>
                    </a>
                </div>
            </div>
        </div>
        </transition>
    </div>
    
    <!--脚本-->
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/jquery.min.1.12.4.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/vue.min.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/wow.min.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/icheck.min.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/iscroll.js"></script>
    <script type="text/javascript" src="http://ov5eewsja.bkt.clouddn.com/js/mc.public.js?v=2"></script>
    <script>
        $(function(){
            $("img").lazyload({effect: "fadeIn"});
            new WOW().init();
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '-10' // optional
            });
        });
        // 滚动时产品菜单项置顶
        $(document).scroll(function(){
            var oft = $(".products-showBox").height();
            var sct = $(document).scrollTop();
            var cz = sct-oft;            
            if(cz >= 60)
            {
                $("#prMenuBox").css({"z-index":99999,"position":"fixed"});
            }
            else
            {
                $("#prMenuBox").css({"z-index":1,"position":"inherit"});
            }    
        });
        // 返回页面顶部
        function pageScroll() { 
            // $('body').animate({scrollTop: 0}, 500); 
            //兼容chrome和Firefox
            $("html,body").animate({"scrollTop":top},500)
        };
        // 成为经销商
        var jxsData = {
            bzList:[
                {
                    bzT:'合作细则',
                    sw:false,
                    bzC:'DJI就是个敢于说真话的孩子。这里由一群从不妥协、极富洞见、坚持梦想的人聚合而成。我们坚信实干而非投机，坚信梦想而非功利。我们坚决践行全新的文化价值观和思维方法论，从创始之初至今从未改变。DJI是一个创新的乌托邦，我们搭建了一个尊重梦想的舞台，构建了纯粹的企业环境，努力探索卓尔不群的产品之道和企业文化。没有一家公司像DJI一样，将求真品诚的理念贯穿到每一个细节，对此我们引以为傲。十年间，DJI站在了行业之巅，开启全球飞行影像新时代，展现出改造世界的无限可能。我们的经历证明，一个初出茅庐的年轻人不去曲意逢迎、不去投机取巧，只要踏实做事，就一定能取得成功。我们相信，那些回归常识、尊重奋斗的人，终将洞见时代机遇，并最终改变世界。大道无疆，创新无限。如果你志存高远、怀揣梦想，决心踏实做事、创造价值，却在扭曲的现实中自我怀疑、彷徨无奈，那就加入DJI吧！ 在这里，与更多真知灼见者碰撞，与更多志同道合者同行！未来，无所不能！”'
                },
                {
                    bzT:'合作条款',
                    sw:false,
                    bzC:'DJI就是个敢于说真话的孩子。这里由一群从不妥协、极富洞见、坚持梦想的人聚合而成。我们坚信实干而非投机，坚信梦想而非功利。我们坚决践行全新的文化价值观和思维方法论，从创始之初至今从未改变。DJI是一个创新的乌托邦，我们搭建了一个尊重梦想的舞台，构建了纯粹的企业环境，努力探索卓尔不群的产品之道和企业文化。没有一家公司像DJI一样，将求真品诚的理念贯穿到每一个细节，对此我们引以为傲。十年间，DJI站在了行业之巅，开启全球飞行影像新时代，展现出改造世界的无限可能。我们的经历证明，一个初出茅庐的年轻人不去曲意逢迎、不去投机取巧，只要踏实做事，就一定能取得成功。我们相信，那些回归常识、尊重奋斗的人，终将洞见时代机遇，并最终改变世界。大道无疆，创新无限。如果你志存高远、怀揣梦想，决心踏实做事、创造价值，却在扭曲的现实中自我怀疑、彷徨无奈，那就加入DJI吧！ 在这里，与更多真知灼见者碰撞，与更多志同道合者同行！未来，无所不能！”'
                }
            ]
        };
        var jxsTextList = new Vue({
            el:"#jxsxz",
            data:jxsData,
            methods:{

            }
        });
    </script>
</body>
</html>